* {
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 20px;
    background: linear-gradient(darkmagenta, darkblue);
}

fieldset {
    border-radius: 15px;
    background-color: rgb(74, 74, 74);
    color: white;
    border: none;
    padding: 20px;
    width: 95%;
    margin: auto;
}

legend {
    font-weight: bolder;
    font-size: x-large;
    background-color: white;
    color: darkviolet;
    padding: 10px;
}

input {
    border: none;
    padding: 7px;
}

hr {
    border: 1px solid rgb(60, 60, 60);
}

div.button_centered {
    text-align: center;
}

ul {
    background-color: white;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    margin: 0;
}

ul li {
    display: inline;
}

ul li a {
    text-decoration: none;
    border-bottom: 5px solid darkviolet;
    border-radius: 3px;
    margin: auto 5px;
    color: darkviolet;
}

button {
    width: 190px;
    height: 56px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: darkviolet;
    background-color: white;
    margin-bottom: 16px;
    padding: 10px;
}

h1 {
    padding: 5px;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-weight: bolder;
}

h2 {
    font-weight: bolder;
}

footer p {
    font-weight: bold;
    padding: 10px;
    background-color: white;
    text-align: center;
    color: darkviolet;
}

img {
    height: 32px;
    width: 32px;
}
